body {
  background-color: ivory;
}
.employee {
  position: relative;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  float: left;
  width: 270px;
}
.name {
  padding: 13px;
  font-size: 40px;
  color: black;
  float: left;
}
.position {
  position: relative;
  padding-bottom: 8px;
  font-size: 35px;
  color: black;
  float: left;
}
.employeeInfo {
  position: relative;
  padding-bottom: 8px;
  font-size: 35px;
  color: black;
  float: left;
}
